* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Press Start 2P';
}

.App {
    background: url('../assets/hp-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100dvw;
    min-height: 100dvh;
}