.card {
    max-width: 175px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    padding: 10px;
    aspect-ratio: 1/1.55;
    cursor: pointer;
    transition: transform 0.4s ease-in-out;
    perspective: 1000px;
    background: url('../assets/harry-front.jpg');

}

.card:hover {
    transform: scale(1.05);
}

.card.is-flipped {
    transform: rotateY(360deg);
    transition: transform 0.4s ease-in-out;
    background: url('../assets/card-back.jpg.jpeg');
    width: 100%;
    height: 100%;
    background-position: 50% 30%;
}

.card-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-content>p {
    color: rgba(0, 0, 0, 0.8);
    font-size: 16px;
    text-align: center;
    padding-top: 10px;
    line-height: 1.5;
    z-index: 2;
}

.card-content>img {
    width: 100%;
    height: 200px;
    border-radius: 8px;
}

@media screen and (max-width:425px) {
    .card {
        max-width: 135px;
    }

    .card-content>img {
        height: 150px;
    }


}